body {
  background: white;
  font-family: Consolas, "Courier New", monospace;
  color: black;
  line-height: 1.6;
}

.bet-types-container {
    display: flex;
    column-gap: 10px;
    row-gap: 5px;
    flex-wrap: wrap;
    justify-content: center;
}

.bet-type {
  border-radius: 12px;
  color: white;
  width: fit-content;
  padding: 2px 10px 2px 10px;
  justify-content: center;
  align-items: center;
  transition: transform .2s;
  background: linear-gradient(to top, #ff1f1f, #ff4d4d);
}

.bet-type:hover {
  transform: scale(1.1);
}

.bet-details {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
}

.selection-details {
    width: 400px;
    background-color: green;
    display: flex;
}

.odds {
    width: 40px;
}