html, body {
  height: 100%;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
  background: white;
  font-family: Consolas, "Courier New", monospace;
  color: black;
  line-height: 1.6;
}

.header {
  background: linear-gradient(to top, #ff1f1f, #ff4d4d);
  color: white;
  display: flex;
  justify-content: center;
}

footer {
  width: 100%;
  padding: 5px 0;
  color: #ddd;
  font-size: 12px;
  background: black;
  margin-top: auto;
  display: flex;
  justify-content: space-between;
}

.link {
  text-decoration: none;
  color: white;
}

.bet-types-container {
    margin: 10px;
    display: flex;
    column-gap: 10px;
    row-gap: 5px;
    flex-wrap: wrap;
    justify-content: center;
}

.bet-type {
  border-radius: 12px;
  color: white;
  width: fit-content;
  padding: 2px 10px;
  justify-content: center;
  align-items: center;
  transition: transform .2s, border .15s ease, box-shadow .15s ease;
}

.bet-type.selected {
  box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.95), 0 6px 18px rgba(0,0,0,0.35);
}

.red {
  background: linear-gradient(to top, #ff1f1f, #ff4d4d);
}

.grey {
  background: linear-gradient(to top, #666666, #9b9b9b);
}

.bet-type:hover {
  transform: scale(1.1);
  cursor: pointer;
}

.bet-details {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    row-gap: 10px;
}

.selection-details {
    width: auto;
    background-color: rgb(180, 180, 180);
    display: flex;
    height: 35px;
    align-items: center;
    padding: 5px;
    justify-content: center;
    column-gap: 5px;
    border-radius: 6px;
    box-sizing: border-box;
}

.odds {
    width: 40px;
    height: 25px;
    border: none;
    border-radius: 6px;
    box-sizing: border-box;
    text-align: center;
    background-color: #fff;
}

.title {
  display: flex;
  justify-content: center;
  padding-top: 10px;
  padding-bottom: 10px;
}

.title-no-center {
  padding-top: 10px;
  padding-bottom: 10px;
  margin: 0;
}

.delete-button {
  background-color: #e74c3c;
  color: #fff;               
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 0.9rem;
  transition: background 0.15s;
  text-align: center;
  height: 25px;
  width: 25px;
  box-sizing: border-box;
}

.calculate-button {
  background-color: #299726;
  color: #fff;               
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 0.9rem;
  transition: background 0.15s;
  text-align: center;
  height: 50px;
  width: 200px;
  box-sizing: border-box;
}

.delete-button:hover {
  background-color: #c0392b;
  cursor: pointer;
}

.calculate-button:hover {
  background-color: #1e751b;;
}

.add-button {
    width: 130px;
    background-color: rgb(180, 180, 180);
    display: flex;
    height: 25px;
    align-items: center;
    padding: 5px;
    justify-content: center;
    column-gap: 5px;
    border-radius: 6px;
    border: none;
    box-sizing: border-box;
    transition: background 0.15s;
}

.add-button:hover {
  background-color: rgb(145, 145, 145);
  cursor: pointer;
}

.main-container {
  display: flex;
  width: 100%;
  justify-content: center;
}

.main-left {
  width: 30%;
}

.main-right {
  width: 30%;
  overflow-wrap: break-word;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
}

 /* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 45px;
  height: 24px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #666666;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  left: 2px;
  bottom: 2px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #ff1f1f;
}

input:focus + .slider {
  box-shadow: 0 0 1px #ff1f1f;
}

input:checked + .slider:before {
  -webkit-transform: translateX(21px);
  -ms-transform: translateX(21px);
  transform: translateX(21px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
} 

.dropdown {
  position: relative;
  background-color: #fff;
  border-radius: 6px;
  height: 25px;
  /** padding: 0 16px; **/
  width: 70px;
  box-sizing: border-box;
}

.dropdown-content {
  display: none;  
  position: absolute;
  background-color: #c3c3c3;
  width: 100%;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  box-sizing: border-box;
  z-index: 9999;
}

.dropdown:hover .dropdown-content {
  display: block;
}